# haproxy supports ssl decryption since 1.5
# install the PPA of Debian haproxy Maintainer
# Vincent Bernat (Ubuntu 14.04 LTS only has 1.4)
- name: Install haproxy-1.5 PPA
  apt_repository: repo='ppa:vbernat/haproxy-1.5'
  when: ssl_dec_loadbalancer

- name: assemble combined cert-key-file
  assemble: >
    dest=/etc/ssl/seafile-all.pem
    src=ssl
    remote_src=False
    mode=0600
    owner=root
    group=root
  when: ssl_dec_loadbalancer
  notify:
  - Restart haproxy

- name: Install haproxy and dependencies
  apt: name={{ item }} state=present
  with_items:
    - haproxy
# haproxyctl dependencies (see below)
    - git
    - python2.7
    - python-setuptools

- name: Configure haproxy
  template: >
    src=haproxy.cfg.j2
    dest=/etc/haproxy/haproxy.cfg
    mode=0644
  notify:
  - Restart haproxy

- name: enable haproxy
  lineinfile: >
    dest=/etc/default/haproxy
    regexp="^ENABLED="
    line="ENABLED=1"

- name: start haproxy
  service: name=haproxy state=started

## haproxyctl
- name: git neurogeek/haproxyctl repo
  git: >
    repo=https://github.com/neurogeek/haproxyctl.git
    dest=/opt/haproxy
  register: get_haproxyctl

- name: install haproxyctl
  command: python setup.py install chdir=/opt/haproxy
  when: get_haproxyctl.changed
