[DATABASE]
type = mysql
host = {{ db_server }}
port = {{ db_port }}
username = {{ db_user }}
password = {{ db_pw }}
name = {{ db_seahub }}



[INDEX FILES]
enabled = true
interval = 10m
index_office_pdf = {{ index_office_pdf }}

[OFFICE CONVERTER]
enabled = true
workers = 1

[SEAHUB EMAIL]
enabled = true
interval = 30m

