SECRET_KEY = "8081e2e5-e4dd-4914-be26-95364b014cc1800e"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'seahub-db',
        'USER': '{{ seahub_settings_databases_user }}',
        'PASSWORD': '{{ seahub_settings_databases_password }}',
        'HOST': '{{ seahub_settings_databases_host }}',
        'PORT': '3306',
        'OPTIONS': {
            'init_command': 'SET storage_engine=INNODB',
        }
    }
}

FILE_SERVER_ROOT = '{{ seahub_settings_file_server_root }}'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '192.168.1.60:11211',
    }
}

OFFICE_CONVERTOR_NODE = 'True'

AVATAR_FILE_STORAGE = 'seahub.base.database_storage.DatabaseStorage'

# Enable or disable thumbnails
ENABLE_THUMBNAIL = True

# disable throttling
REST_FRAMEWORK = {
    'DEFAULT_THROTTLE_CLASSES': (
        'rest_framework.throttling.AnonRateThrottle',
        'rest_framework.throttling.UserRateThrottle',
    ),
    'DEFAULT_THROTTLE_RATES': {
        'anon': None,
        'user': None,
    },
}

