[General]
USER_NAME = {{ ccnet_general_user_name }}
ID = {{ ccnet_id }}
NAME = filesync
SERVICE_URL = {{ ccnet_general_service_url }}

[Network]
PORT = {{ ccnet_network_port }}

[Client]
PORT = {{ ccnet_client_port }}

[Database]
ENGINE = mysql
HOST = {{ ccnet_database_host }}
PORT = {{ ccnet_database_port }}
USER = {{ ccnet_database_user }}
PASSWD = {{ ccnet_database_passwd }}
DB = ccnet-db
CONNECTION_CHARSET = utf8

[LDAP]
HOST = {{ ccnet_ldap_host }}
BASE = {{ ccnet_ldap_base }}
LOGIN_ATTR = {{ ccnet_ldap_login_attr }}
USE_PAGED_RESULT = true
