[General]
USER_NAME = {{ ccnet_general_user_name }}
ID = {{ ccnet_id }}
NAME = filesync
SERVICE_URL = https://{{ server_name }}

[Network]
PORT = {{ ccnet_network_port }}

[Client]
PORT = {{ ccnet_client_port }}

[Database]
ENGINE = mysql
HOST = {{ db_server }}
PORT = {{ db_port }}
USER = {{ db_user }}
PASSWD = {{ db_pw }}
DB = {{ db_ccnet }}
CONNECTION_CHARSET = utf8

[LDAP]
HOST = {{ ldap_host }}
BASE = {{ ldap_base }}
LOGIN_ATTR = {{ ldap_login_attr }}
USE_PAGED_RESULT = true
