[DATABASE]
type = mysql
host = {{ db_server }}
port = {{ db_port }}
username = {{ db_user }}
password = {{ db_pw }}
name = {{ seahub_settings_databases_name }}



[INDEX FILES]
external_es_server = true
es_host = {{ seafevents_index_files_es_host }}
es_port = 9500
enabled = true
interval = 10m
index_office_pdf = false

[OFFICE CONVERTER]
enabled = true
workers = 1

[SEAHUB EMAIL]
enabled = true
interval = 30m

