[cluster]
enabled = true
{% block memcached_options %}
{% if memcached_servers is defined %}
memcached_options = --SERVER={{ memcached_servers|join(' --SERVER=') }} {{ memcached_options }}
{% else %}
memcached_options ={% for server in groups['memcached'] %} --SERVER={{ hostvars[server]['ansible_default_ipv4']['address'] }}{% endfor %} {{ memcached_options }}
{% endif %}
{% endblock %}

[network]
port = {{ seafile_network_port }}

[fileserver]
port = {{ seafile_fileserver_port }}

[database]
type = mysql
host = {{ db_server }}
port = {{ db_port }}
user = {{ db_user }}
password = {{ db_pw }}
db_name = {{ db_seafile }}
connection_charset = utf8

[block_backend]
{% if block_backend_name != "fs" %}
name = {{ block_backend_name }}
{% endif %}
{% if block_backend_name == "ceph" %}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_block }}
{% elif block_backend_name == "s3" %}
bucket = {{ s3_bucket_block }}
key_id = {{ s3_key_id }}
key = {{ s3_key }}
{% if s3_sigv4 %}
use_v4_signature = true
{% endif %}
{% if s3_aws_region is defined %}
aws_region = {{ s3_aws_region }}
{% endif %}
{% endif %}
{{ self.memcached_options() }}

[commit_object_backend]
{% if commit_backend_name != "fs" %}
name = {{ commit_backend_name }}
{% endif %}
{% if commit_backend_name == "ceph" %}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_commit }}
{% elif commit_backend_name == "s3" %}
bucket = {{ s3_bucket_commit }}
key_id = {{ s3_key_id }}
key = {{ s3_key }}
{% if s3_sigv4 %}
use_v4_signature = true
{% endif %}
{% if s3_aws_region is defined %}
aws_region = {{ s3_aws_region }}
{% endif %}
{% endif %}
{{ self.memcached_options() }}

[fs_object_backend]
{% if fs_backend_name != "fs" %}
name = {{ fs_backend_name }}
{% endif %}
{% if fs_backend_name == "ceph" %}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_fs }}
{% elif fs_backend_name == "s3" %}
bucket = {{ s3_bucket_fs }}
key_id = {{ s3_key_id }}
key = {{ s3_key }}
{% if s3_sigv4 %}
use_v4_signature = true
{% endif %}
{% if s3_aws_region is defined %}
aws_region = {{ s3_aws_region }}
{% endif %}
{% endif %}
{{ self.memcached_options() }}

