[cluster]
enabled = true
{% block memcached_options %}
{% if memcached_servers is defined %}
memcached_options = --SERVER={{ memcached_servers|join(' --SERVER=') }} {{ memcached_options }}
{% else %}
memcached_options ={% for server in groups['memcached'] %} --SERVER={{ hostvars[server]['ansible_default_ipv4']['address'] }}{% endfor %} {{ memcached_options }}
{% endif %}
{% endblock %}

[network]
port = {{ seafile_network_port }}

[fileserver]
port = {{ seafile_fileserver_port }}

[database]
type = mysql
host = {{ db_server }}
port = {{ db_port }}
user = {{ db_user }}
password = {{ db_pw }}
db_name = {{ db_seafile }}
connection_charset = utf8

[block_backend]
name = {{ ceph_name }}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_block }}
{{ self.memcached_options() }}

[commit_object_backend]
name = {{ ceph_name }}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_commit }}
{{ self.memcached_options() }}

[fs_object_backend]
name = {{ ceph_name }}
ceph_config = {{ ceph_config }}
ceph_client_id = {{ ceph_client_id }}
pool = {{ ceph_pool_fs }}
{{ self.memcached_options() }}

